---
---

<header class="bg-[#2f491d] text-white p-4 shadow-md fixed w-full top-0 z-50 transition-transform duration-300 translate-y-0">
	<div class="container mx-auto">
		<div class="flex items-center justify-center space-x-8">
			<a class="text-lg font-medium text-[#e49e1c] hover:bg-white/20 px-3 py-4 -my-4 rounded-md transition-colors" href="/TinTuc">
				Tin tức
			</a>
			<a class="text-3xl font-bold" href="/">
				<img src="/favicon/android-chrome-192x192.png" alt="Xanh Đi Logo" class="h-12 w-12 rounded-full" />
			</a>
			<a class="text-lg font-medium text-[#e49e1c] hover:bg-white/20 px-3 py-4 -my-4 rounded-md transition-colors" href="/HanhTrinh">
				Hành trình
			</a>
		</div>
	</div>
</header>
